# Flutter-specific
.flutter-plugins
.flutter-plugins-dependencies
.dart_tool/
.build/
.idea/
.packages
*.iml
*.log
*.swp
# iOS
ios/Flutter/Flutter.framework/
ios/Flutter/Flutter.podspec
ios/.symlinks/
# Android
*.apk
*.aab
*.dex
*.class
*.so
*.jar

# Node.js-specific
node_modules/
npm-debug.log
yarn-error.log
backend/.env
*.env
*.tgz
*.bak

# VSCode/JetBrains
.vscode/
.idea/

# MacOS
.DS_Store

# Linux
*~

# Windows
Thumbs.db
ehthumbs.db
